 
#toolbarViewerRight{
  display: flex;
  gap: 10px;
}

/* #download svg {
  display: none; 
   
} */

/* #primaryEditorInk svg {
  display: none; 
   
} */
/* 
#download {
  width: 20px !important; 
  height: 20px !important; 
  //background-image: url('../../assets/svgs/dowload.png'); 
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center;  
  
}

#primaryEditorInk {
  width: 20px !important; 
  height: 20px !important; 
  background-image: url('../../assets/svgs/pincel.png'); 
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center;  
  
} */



.toolbarButton{
  color: white !important;
}